<!DOCTYPE html>
<html>
<head>
    <title>PingPong</title>
</head>
<body>
    <h1>Let's play with numbers</h1>
    <h3>Enter a number and get an array back</h3>
    <form action='/view_ping_pong'>
        <label for='number'>Enter number here.</label>
        <input name='number' type='number' required>
        <button type='submit'>Play!</button>
    </form>
</body>
</html>
