<!DOCTYPE html>
<html>
<head>
    <title>PingPong</title>
</head>
<body>
    <h1>Here you go!</h1>
    {% if results is not empty %}
        <ul>
            {% for result in results %}
                <li>{{ result }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
